.medi-info{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.medi-info .name{
    font-weight: bold;
}
.medi-info .price{
    color: wheat;
}
.medi-info .disc{
  max-width: 100%;
}
.medi-info-quantity p{
    display: flex;
    flex-direction: column;
    width: 6rem;
}
.medi-info-quantity button{
    border-radius: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
    font: bold;
    background-color: wheat;
}